<section>
  <h2>Event Binding</h2>
  <p>
    Continuando no contexto do Data Binding da aula passada, agora
    complementamos com o Event Binding. O event binding refere-se a uma técnica
    que permite associar (ou vincular) eventos, como cliques de botão, eventos
    de teclado, eventos de mouse, etc., a ações ou comportamentos específicos no
    componente Angular. O event binding é uma forma de interação dinâmica entre
    o usuário e o aplicativo Angular. Quando um evento ocorre, como um clique em
    um botão, o Angular pode detectar esse evento e executar uma ação
    correspondente definida no componente.
  </p>
</section>
