
.footer {
  background-color: var(--fundo-footer);
  color: var(--título-header);
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 5.5%;

}

.stitulo {
  font-size: 18px;
  color: var(--stítulo-header)
}
