<section class="section">
  <div>
    <h2>Componentes</h2>
    <p>
      Um componente é uma parte fundamental da arquitetura de um aplicativo
      Angular. Ele é uma classe TypeScript que contém dados, comportamentos e
      propriedades que definem a aparência e o comportamento de uma parte
      específica da interface do usuário. Um componente é responsável por
      gerenciar um pedaço de tela, como um cabeçalho, um rodapé, um formulário
      ou qualquer outro elemento de interface do usuário.
    </p>
  </div>
</section>
