<nav>
  <mat-toolbar class="menu">
    <button mat-icon-button class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Drácula de Bram Stoker</span>
    <div style="padding-left: 3%;">
      <button mat-raised-button color="menu">Home</button>
      <button mat-raised-button color="menu">Autor</button>
      <button mat-raised-button color="menu">Caracteres</button>
      <button mat-raised-button color="menu">Versões</button>
      <button mat-raised-button color="menu">Galeria</button>
      <button mat-raised-button color="menu">Assistir</button>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="menu-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="menu-icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</nav>
<header class="header">
<div class="title">Drácula</div>
</header>
